Source: ros-rolling-twist-stamper
Section: misc
Priority: optional
Maintainer: Josh Newans <josh.newans@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-rolling-ament-copyright <!nocheck>, ros-rolling-ament-flake8 <!nocheck>, ros-rolling-ament-pep257 <!nocheck>, ros-rolling-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-twist-stamper
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-rolling-geometry-msgs, ros-rolling-rclpy, ros-rolling-std-msgs, ros-rolling-ros-workspace
Description: ROS2 package for converting between Twist and TwistStamped messages
