Source: ros-foxy-twist-stamper
Section: misc
Priority: optional
Maintainer: Josh Newans <josh.newans@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-foxy-ament-copyright, ros-foxy-ament-flake8, ros-foxy-ament-pep257, ros-foxy-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-twist-stamper
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-foxy-geometry-msgs, ros-foxy-rclpy, ros-foxy-std-msgs, ros-foxy-ros-workspace
Description: ROS2 package for converting between Twist and TwistStamped messages
